# node 版本必须匹配package.json中的engines.node
engine-strict=true

#  依赖安装时使用淘宝镜像
registry=https://registry.npmmirror.com


# 依赖提升到根目录node_modules
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*husky*
public-hoist-pattern[]=*postcss*

# 发布npm包
git-checks=true
publish-branch=master
